@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $secondary-color;
}

header {
  padding: 3rem;
  background-color: $primary-color;
  color: #000;
  h1 {
    font-size: 3.2rem;
    text-align: center;
  }
}

.section {
  padding: 1rem;
  h3 {
    font-size: 2rem;
  }
  &-a {
    background-color: #f4f4f4;
    color: #f4f4f4;
    &-darked {
      background-color: #333;
    }
    &-b {
      background: red;
      color: aquamarine;
    }
  }
}

a {
  color: blue;
  &:hover {
    color: red;
  }
}

%btn-shared {
  display: inline-block;
  padding: 0.7rem 2rem;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

.btn {
  &-ligth {
    @extend %btn-shared;
    background-color: #f4f4f4;
    color: #333;
  }
  &-dark {
    @extend %btn-shared;
    background-color: #333;
    color: #f4f4f4;
  }
}
